.container .user {
  width: 100%;
  height: 100%;
  background: #e2e2e2;
  position: relative;
  overflow: hidden;
  //
  //   .radius {
  //     position: absolute;
  //     top: -35%;
  //     left: -50%;
  //     width: 200%;
  //     height: 60%;
  //     border-radius: 50%;
  //     background: linear-gradient(to right, #f14040, #fa4582);
  //   }
  //
  .user-content {
    z-index: 10;
    position: relative;
    width: 100%;
    //
    a{
        color: white;
    }
    .user-content-title {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: flex-end;
      .user-content-title-icon {
        height: 55%;
        margin: auto 0;
        margin-right: 10px;
        img {
          height: 100%;
        }
      }
    }
    //
    .user-content-name {
      display: flex;
      .user-content-name-img {
        width: 55px;
        height: 55px;
        margin: 0 20px;
        background: white;
        border-radius: 50%;
      }
      .user-content-name-title {
        width: 100px;
        height: 55px;
        .name {
          height: 50%;
          color: white;
        }
        .noname {
          width: 90%;
          height: 40%;
          border-radius: 20px;
          background: rgba(0, 0, 0, 0.4);
          color: white;
          font-size: 12px;
          text-align: center;
          line-height: 22px;
        }
      }
    }
    //
    .user-content-nav {
      margin-top: 20px;
      display: flex;
      div {
        width: calc(100% / 5);
        color: white;
        font-size: 12px;
        text-align: center;
      }
    }
  }
  .user-banner {
    margin: 20px auto;
    position: relative;
    z-index: 10;
    width: 95%;
    height: 100px;
    background: white;
    border-radius: 20px;
  }
}

.user-radius::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: -30%;
  left: -50%;
  width: 200%;
  height: 60%;
  border-radius: 50%;
  background: linear-gradient(to right, #f14040, #fa4582);
  //   transform: translateX(-25%) translateY(-50%);
}
