.index-brand{
    width: 100%; 
    background: white; 
    .index-brand-swiper{
        position: relative;
        .index-brand-swiper-scroll{
            width:100%;
            height:100%;
            overflow: hidden;
        }
        .index-brand-title{
            width: 100%; 
            position: absolute; 
            top: 0px;
        }
        .index-brand-btn{
            position: absolute;
            top:20px;
            right:20px;
            span{
                width:5px;
                height: 5px;
                background: #e7eaef;
                display: inline-block;
                border-radius: 50%;
                margin-right: 5px;
            }
            .action{
                background:#f3344a;
            }
        }
    }
}